<app-defaut-login-layout
  [title]="'Welcome again'"
  [primaryButtonText]="'Login'"
  (submit)="submit()"
  (navigate)="navigate()"
  [desablePrimaryBtn]="!formLogin.valid"

  >

  <form [formGroup]="formLogin">
    <app-primary-input
      type="email"
      formControlName="email"
      placeholder="Usuário"
      class="input-field" />

    <app-primary-input
      type="password"
      formControlName="password"
      placeholder="Senha"
      class="input-field" />
  </form>

</app-defaut-login-layout>
